<!-- <div class="height70vh">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="navbar-brand1"><a routerLink="."><img src="../../../assets/Image/anatel-logo.png" alt=""></a></span>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
     
      <a routerLink="about-us" mat-button>About Us</a>
      <a routerLink="services" mat-button>Services</a>
      <a routerLink="products" mat-button>Products</a>
      <a routerLink="contact-us" mat-button>Contact</a>
      
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" routerlLink="" mat-list-item>Close</a>
      <a routerLink="about-us" mat-list-item>About Us</a>
      <a routerLink="services" mat-list-item>Services</a>
      <a routerLink="products" mat-list-item>Products</a>
      <a routerLink="contact-us" mat-list-item>Contact</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
  
    </mat-sidenav-content>
</mat-sidenav-container>
</div> -->